{% extends 'flatpages/default.html' %}
{% block content %}
<p><font size="7" face="Times New Roman, Arial">{{ flatpage.title }}</font></p>
<hr>
<p><font size="6" face="Monotype Corsiva, Arial">Я заблудился в эфемерном мире.</font></p>
<p><font size="6" face="Monotype Corsiva, Arial">Поверьте, мне не хочется обратно.</font></p>
<p><font size="6" face="Monotype Corsiva, Arial">Здесь нет проблем, былого дня,</font></p>
<p><font size="6" face="Monotype Corsiva, Arial">Они погрязли глубоко и безвозвратно.</font></p>
<p><font size="6" face="Monotype Corsiva, Arial">Возможно, я хочу того исхода,</font></p>
<p><font size="6" face="Monotype Corsiva, Arial">В котором навсегда исчезнет моя тень.</font></p>
<p><font size="6" face="Monotype Corsiva, Arial">Я просто родилсЯ не в той квартире,</font></p>
<p><font size="6" face="Monotype Corsiva, Arial">И это не мой мир, и точно не мой день.</font></p>
{% endblock content %}
